    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Sono:wght@200..800&family=Titan+One&display=swap');

/*font-family: 'Major Mono Display', monospace;
font-family: 'Sono', monospace;*/

/*font: [style] [variant] [weight] [size]/[line-height] [family];*/

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
}

/*   --HERO--   */

#hero-section {
    width: 100%;
    height: auto;
    padding: 0px 0 100px 0;

    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    text-align: center;
    color: white;
}

/*menu/header*/
#menu {
    height: 65px;

    display: flex;
    align-items: center;
    text-wrap: nowrap;

    position: relative;
}

.img-conteiner {
    width: 300px;
    height: 35px;
    margin-left: 2.5%;

    background-image: url(images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#menu-conteiner-links {
    width: 50%;
    max-width: 450px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;

    position: absolute;
    right: 0;

    padding-right: 50px;
}

.menu-links {
    font: normal 500 17px 'Rajdhani';
    color: white;

    text-decoration: none;
    border-bottom: solid 1px transparent;
}
.menu-links:hover {
    border-bottom: solid 1px yellow;
}
#menu-contact {
    background-color: #4F29BF;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    font-weight: 600;
}
#menu-contact:hover {
    border-bottom: none;

    background-color: #4324a2;
}

#menu-mobile-bars {
    display: none;
    
    text-align: right;

    position: fixed;
    right: 15px;

    font-size: 23px;
    color: #F4D63D;
    cursor: pointer;
}

#menu-mobile-bars label {
    cursor: pointer;
}
#menu-mobile-links {
    width: 85%;
    max-width: 340px;
    
    padding: 3px 4px 3px 20px;
    border-radius: 5px;

    position: fixed;
    left: -600px;

    display: flex;
    align-items: center;
    gap: 18px;


    overflow: hidden;
    background-color: #255AFF;

    transition: 1s;
}

@media screen and (max-width: 700px) {
    .menu-links {
        font-size: 14px;
        gap: 100px;
    }
    .img-conteiner {
        width: 25%;
        height: 25px;
        margin-left: 2.5%;
        
        background-image: url(images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 1;
    }
}

@media screen and (max-width: 590px) {
    #menu-conteiner-links {
        display: none;
    }

    #menu-mobile-bars {
        display: block;
    }
}

@media screen and (max-width: 585px) {
    #menu-mobile-links {
        flex-wrap: wrap;
        gap: 10;
    }
}
/*menu/header*/

/*principal*/
.principal {
    margin-top: 70px;
}

.principal h1 {
    font: normal 50px 'Titan One', Verdana, Arial, sans-serif;
    text-wrap:balance;
    padding: 30px;
}
.principal span:hover {
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 255, 203);
    cursor: pointer;
}
.principal h1:focus {
    text-decoration: underline;
}

.principal p {
    font: normal 600 20px 'Rajdhani', Verdana, Arial, serif;
}
.principal p:hover {
    font-weight: bold;
    color: rgb(255, 255, 203);
}

@media screen and (max-width: 700px) {
    .principal {
    margin-top: 0px;
    }
    .principal h1 {
        font-size: 45px;
    }
    .principal p {
        font-size: 15px;
    }
}
.principal img {
    width: 75%;
    max-width: 800px;

    margin-top: 50px;
}
/*principal*/

/*   --HERO--   */


/*   --LOGOS--   */
#logos-section-conteiner {
    display: block;
    text-align: center;
}
.logos {
    width: 13%;
    min-width: 130px;
}
/*   --LOGOS--   */


/*   --Por que nós?--   */
#section-porquenos {
    margin-top: 85px;

    background-color: #f2f3f4;

    padding: 20px 0px 115px;
    text-align: center;
}

#section-porquenos h2 {
    margin-top: 35px;
    font: 700 40px 'Sono', Arial, sans-serif;
    color: black;

    padding-bottom: 10px;

}
#porquenos-p {
    font: normal 17px 'Rajdhani', Arial, serif;
        color: rgb(67, 67, 67);

    padding: 0px 10px 0px 10px;
}

#porque-boxs-conteiner {
    margin-top: 55px;
    margin-left: 25px;
    margin-right: 25px;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.porque-boxs {
    width: 20%;

    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.176);

    background-color: white;

    padding: 40px 25px 40px 25px;
    text-align: center;
}
.porque-boxs #icone1 {
    background-color: #f1e8f999;

    border-radius: 10px;
}
.porque-boxs #icone2 {
    background-color: #e8f9f599;

    border-radius: 10px;
}
.porque-boxs #icone3 {
    background-color: #f9f4e899;

    border-radius: 10px;
}


h3 {
    margin-top: 25px;

    font: 700 20px 'Sono', Arial, sans-serif;
    color: black;
}

.porque-boxs-p {
    margin-top: 25px;

    font: normal 13px 'Sono', Arial, serif;
    color: rgb(67, 67, 67);
}

@media screen and (max-width: 783px) {
    .porque-boxs {
        width: 27%;
        padding: 40px 20px 40px 20px;
    }
    .porque-boxs h3 {
        font-size: 16px;
    }
    .porque-boxs p {
        margin-top: 20px ;
        font-size: 12px;
    }
}

@media screen and (max-width: 640px) {
    .porque-boxs {
        width: 27%;

        padding: 30px 12px 20px 12px;
    }
    .porque-boxs h3 {
        margin-top: 15px;
        font-size: 12px;
    }
    .porque-boxs p {
        margin-top: 15px;
        font-size: 10px;
    }
    .porque-boxs img {
        width: 60px;
    }
}
/*   --Por que nós?--   */


/*   --Entre em Contato-- */
section#entre-contato {
    padding: 100px 0 100px 0;

    background-image: url(images/banner-contato.png);
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}

#entre-contato h2 {
    font: 300 50px 'Sono', Arial, sans-serif;

    color: white;
}

#entre-contato p {
    margin-top: 40px;
    margin-bottom: 20px;

    font: 300 24px 'Rajdhani', Arial, serif;
    color: white;
}

#entre-contato a {
    font: normal 100 15px 'Titan One', 'Rajdhani', Arial, sans-serif;
    color: #0F3FD3;

    padding: 5px 7px 5px 7px;
    background-color: yellow;

    border: none;
    border-radius: 5px;

    cursor: pointer;
    text-decoration: none;
    text-wrap: nowrap;
}
#entre-contato a:hover {
    background-color: rgb(255, 183, 0);
    font-weight: bold;
}
/*    --Entre em contato--   */


/*   --Benefícios--   */
section#beneficios {
    display: flex;

    padding-top: 50px;
    padding-bottom: 10px;

    background-color: white;
}

#beneficios-list {
    width: 50%;

    padding-left: 30px;
}

#beneficios-list h2 {
    font: 700 40px 'Sono', Arial, sans-serif;
    color: black;
    padding-top: 10px;
}

.list-div {
    margin-top: 50px;

    display: flex;
    align-items: center;
}
.list-div img {
    width: 40px;
}

#beneficios-list p {
    margin-left: 20px;

    font: normal 17px 'Sono', Arial, serif;
    color: rgb(67, 67, 67);
}

#beneficios-list div#div-a {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 25px;
}
#beneficios-list div#div-a a {
    font: normal 100 15px 'Titan One', 'Rajdhani', Arial, sans-serif;
    text-decoration: none;
    color: white;

    padding: 7px 9px 7px 9px;
    background-color: #0F3FD3;

    border: solid 2px transparent;
    border-radius: 5px;

    cursor: pointer;
}
#beneficios-list div#div-a a:hover {
    background-color: #0c35b1;
    border: solid 2px #5AD6A6;
    font-weight: bold;
}

#div-imagem1 {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 800px;
}
#imagem1 {
    width: 100%;
}

@media screen and (min-width:562px) {
    section#beneficios-mobile {display: none;}
}
@media screen and (max-width:677px) {
    section#beneficios {
        display: none;
    }
    section#beneficios-mobile {
        display: flex;
        padding-top: 15px;
    }

    #beneficios-list {
        width: 100%;
    
        padding: 30px;
    }

    #beneficios-list h2 {
        text-align: center;
        word-spacing: -5px;
    }

    #beneficios-list div#div-a {
        text-align: center;
    }

    
}
/*   --BENEFÍCIOS--   */


/*   --DEPOIMENTOS--   */
section#depoimentos {
    background-color: #f2f3f4;
    padding-top: 50px;
    padding-bottom: 50px;
}

#depoimentos h2 {
    padding-bottom: 40px;
    text-align: center;

    font: 700 40px 'Sono', Arial, sans-serif;
    color: black;
}

#depoimentos-conteiner {
    display: flex;
    justify-content: space-evenly;
}

.depoimento-div {
    width: 25%;
    text-align: center;
}

.depoimento-div p {
    margin-top: 15px;

    font: normal 13px 'Sono', Arial, serif;
    color: rgb(67, 67, 67);
}

.rate {
    width: 100px;

    margin-top: 20px;
}

/*   --DEPOIMENTOS--   */


/*   --ENTRE EM CONTATO--   */
section#contato {
    padding-top: 65px;
    padding-bottom: 100px;
}

#contato h2 {
    text-align: center;

    font: 700 35px 'Sono', Arial, sans-serif;
    color: black;
}

#contato p {
    width: 75%;
    margin: 20px auto;

    font: normal 14px 'Sono', Arial, serif;
    text-align: center;
    color: #5AD6A6;
}

#contato input {
    width: 55%;
    max-width: 500px;
    height: 30px;

    padding: 0px 10px 0px 10px;

    margin: auto;
    margin-top: 10px;

    display: flex;

    border: solid 1px rgba(0, 0, 0, 0.385);
    border-radius: 10px;

    text-align: left;
    font: normal 13px 'Sono', Arial, serif;
    color: rgb(67, 67, 67);
}
#contato input:focus  {
    background-color:rgb(242, 242, 242);
    outline: none;
    border: solid 1px #0f40d3c6;
}

#contato textarea {
    width: 55%;
    max-width: 500px;
    height: 90px;
    min-height: 15px;
    max-height: 200px;

    padding: 10px 10px 10px 10px;

    margin: auto;
    margin-top: 10px;

    display: flex;

    border: solid 1px rgba(0, 0, 0, 0.385);
    border-radius: 10px;

    font: normal 13px 'Sono', Arial, serif;
    color: rgb(67, 67, 67);
    
    text-align: left;
    resize: vertical;
}
#contato textarea:focus  {
    background-color:rgb(242, 242, 242);
    outline: none;
    border: solid 1px #0f40d3c6;
}

#contato input[type="submit"] {
    width: 100px;
    height: 30px;

    margin-top: 25px;

    font: normal 100 14px 'Titan One', 'Rajdhani', Arial, sans-serif;
    color: white;

    text-align: center;

    display: inline-block; /* Garante que o botão se ajuste ao conteúdo */
    margin-left: calc(50% - 50px);

    background-color: #0F3FD3;

    border: solid 2px transparent;
    border-radius: 5px;

    cursor: pointer;
}
#contato input[type="submit"]:hover {
    font-weight: bold;
    background-color: rgb(49, 84, 189);
    border: solid 2px #5AD6A6;
}
#contato input[type="submit"]:active {
    background-color: #5AD6A6;
}
/*   --ENTRE EM CONTATO--   */


/*   ___FOOTER___   */
footer {
    font: normal 14px 'Sono';
    color: white;

    padding: 20px 15px 20px 15px;

    display: flex;
    align-items: center;

    position: relative;

    background-color: #0c35b1;
}

@media screen and (max-width:805px) {

    footer p {
        width: 120px;
        font-size: 11px;
    }

}

#footer-imgs-conteiner {
    width: 60px;

    padding: 0 10px 0 10px;

    display: flex;
    justify-content: center;
    gap: 10px;
}
footer img {
    width: 20px;

    display: flex;

    cursor: pointer;

    border-radius: 7px;

}
footer img:hover {
    background-color: yellow;
}

div#menu-conteiner-links-footer {
    width: 50%;
    max-width: 450px;

    display: flex;
    justify-content: space-evenly;
    
    position: absolute;
    right: 0;
}

a[name="menu-links-footer"] {
    font-size: 14px;
}


@media screen and (max-width: 450px) {
    div#menu-conteiner-links-footer {
        width: 30%;
        
        display: flex;
        flex-wrap: wrap;

        top: 50%;
        transform: translateY(-40%);

        padding-right: 15px;
    }
}
/*   ___FOOTER___   */
